.main {
    padding-left: 5px;
    padding-top: 20px;
}

.nav1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
    margin-top: auto;
    padding: 18px;
    text-align: center;
    font-weight: 700;
    position: relative;
    /* background: #474849; */
    color: rgb(28, 26, 26);
}